@media screen and (max-width: 600px) {
  .PIForm_Card {
    /* padding: 0 !important; */
    margin-top: -10% !important;
    width: 95vw;
    position: absolute; /* or relative depending on your layout */
    left: 50%;
    transform: translateX(-50%);
    height: calc(
      85vh - 10px
    ) !important; /* Adjust height to account for margin */
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box !important; /* Ensure padding and border are included in width and height */
    overflow-y: auto !important; /* Allow vertical scrolling if content exceeds height */
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
  }
  .next-btn {
    right: 5% !important;
  }
}

/* doc loader component styles  */
.loading_cont {
  background-color: #c5d7ff;

  padding-right: 40px;
  padding-left: 18px;
  border-radius: 10px;
}
.loadingtext p {
  color: #000;
  font-size: large;
  position: relative;
}

.loadingtext p::after {
  position: absolute;
  animation: b 3s infinite linear;
  color: #000;
  content: '';
  left: 105%;
}

@keyframes b {
  0% {
    content: '';
  }

  10% {
    content: '.';
  }

  40% {
    content: '..';
  }

  70% {
    content: '...';
  }

  100% {
    content: '';
  }
}

/* doc loader component styles  */
